<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs')%>
<body>
  <%- include ('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About US</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam accusantium reiciendis optio qui quidem hic perspiciatis. Rem hic asperiores deserunt eligendi quisquam, numquam debitis nostrum quos, ipsum ullam fuga est!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, debitis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati explicabo in ipsa facilis sunt a laudantium ab aut. Sed, temporibus!</p>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>

</html>